{% extends 'allifmaalapp/bases/allifbase.html'%}
{% load static %}
{% load crispy_forms_tags %}
{% load humanize %}
{% block title %}
{{title}}
{% endblock %}
{% block style %}
   
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">


<!--FontAwesome CDN ...necessary for the icons-->
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.2/css/all.css"
    integrity="sha384-vSIIfh2YWi9wW0r9iZe7RJPrKwp6bG+s9QZMoITbCckVJqGCCRhc+ccxNcdpHuYu" crossorigin="anonymous">

<script src="{% static 'js/chart.min.js' %}">/*Remember that this is a dist file.... source is: 
https://cdn.jsdelivr.net/npm/chart.js@3.8.0/dist/chart.min.js*/

</script>
<!--Chartjs CDN-->
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js"></script>

<style>
    /* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}

/* .............. note that 1cm = 37.8px.....................*/

  
    body {
        /*background-color: #F6F7F8;*/
        font-size: 2rem;
        opacity: 1;
        position:sticky;
        overflow: auto;
        text-align: left;
        max-width: 100%; 
        background-color: #F6F7F8;
        margin: auto;
        padding: auto;
        

    }
   
    .container{
      background-color: #F6F7F8;
      }
    .container tr:hover {
      background-color: #FFF;
      color: black;
    }
    table{
      background-color: #F6F7F8;
    }
.mybuttonlinks{
    margin-top: 7px; margin-left: 7px;
    margin-bottom: 5px;
 
}
#allif-section-headers{
    background-color: #e9eaec;
    color: black;
    font-size: 16px;
    text-align: center;
}
#allif-link-buttons{
    background-color: #F6F7F8;
    color: black;
}
#allif-link-buttons:hover {
    background-color: #714b67;
    color: white;
}


a:link{
  text-decoration: none;
  
}
       
                      
/************************************************************* starting of styling for extra small mobiles*/
@media screen and (min-width:200px) and (max-width:800px) {
        /*@media screen and (min-width: 700px) and (max-width:800px) {}*/
        /*.sidenav {padding-top: 15px;}*/
        /*.sidenav a {font-size: 18px;}*/
        .container {
            
            margin-top: 110px;
            /*display: inline-block;
            overflow: auto;*/
            font-size: 0.95rem;
           
            
            color:black;
            overflow: auto;
            overflow-x: scroll;
            overflow-y: scroll;
            height: 480px;
          
        }
        .mycomments{
          display: none;
        }
       
      }
/*********************************************************** end of styling for extra small mobiles*/

  
 
/************************************************************* starting of styling for extra small mobiles*/
@media screen and (min-width:800px) and (max-width:1000px) {
        /*@media screen and (min-width: 700px) and (max-width:800px) {}*/
        /*.sidenav {padding-top: 15px;}*/
        /*.sidenav a {font-size: 18px;}*/
        .container{
            
            /*display: inline-block;
            overflow: auto;*/
            font-size: 0.95rem;
           
            margin-top: 8px;
            margin-left: auto;
            padding-left: 90px;
            
        }
        
      }
/*********************************************************** end of styling for extra small mobiles*/

 
/************************************************************* starting of styling for extra small mobiles*/
@media screen and (min-width:1000px) and (max-width:2000px) {
        /*@media screen and (min-width: 700px) and (max-width:800px) {}*/
        /*.sidenav {padding-top: 15px;}*/
        /*.sidenav a {font-size: 18px;}*/
        .container {
            
            margin-top: 10px;
            display: block;
           
            font-size: 0.95rem;
            
            margin-left:auto ;
            
            margin-right: auto;
            margin: auto;
            padding-left: 90px;
            
        }
        
      }
/*********************************************************** end of styling for extra small mobiles*/

/************************************************************* starting of styling for extra small mobiles*/
@media screen and (min-width:2000px)  {
        /*@media screen and (min-width: 700px) and (max-width:800px) {}*/
        /*.sidenav {padding-top: 15px;}*/
        /*.sidenav a {font-size: 18px;}*/
       .container {
            
            margin-top: 10px;
            display: block;
            overflow: auto;
            font-size: 1.00rem;
            
            margin-left: 120px;
            overflow-x: hidden;
            margin-right: 20px;
           
        }
      }
/*********************************************************** end of styling for extra small mobiles*/
 
    </style>
   {%endblock%}
   
   {% block body %}
 
<div class="container"><!--start of main container of the page--...#17a2b8;  -->

    <!--start of first row-->
    <div class="row mt-12" >
        
        <div class="col-md-4">
            <div class="card">
                <div id="allif-section-headers" class="card-header ">
                   Quick Links
                </div>
                <div >
                    
                <a  href="{% url 'allifmaalapp:allifmaal_invoices' %}">
                    <button id="allif-link-buttons" type="button" class="btn btn-success mybuttonlinks " >
                        Invoices</button></a>
                    <a  href="{% url 'allifmaalapp:allifmaalmaindashboard' %}">
                    <button id="allif-link-buttons" type="button" class="btn btn-success mybuttonlinks" >
                    Dashboard</button></a>
                    <a  href="{% url 'allifmaalapp:allifmaal_invoice_to_pdf' add_inv.id %}" >
                    <button id="allif-link-buttons" type="button" class="btn btn-success mybuttonlinks" >
                    Pdf</button></a>
                    {% if add_inv.posting_inv_status == "waiting" %}
                    
                    <a  href="{% url 'allifmaalapp:post_allifmaal_invoice' add_inv.id %}" >
                      <button id="allif-link-buttons" type="button" class="btn btn-success mybuttonlinks" >
                      Post</button></a>
                      {% else %}
                     
                        <button  type="button" class="btn btn-secondary mybuttonlinks" >
                        Posted</button>
                      
                      {% endif %}
                      </div>

                    

<!----------------------------------------------start of row----------------------------------------------------->
{% if add_inv.posting_inv_status == "waiting" %}
<div class="col-md-12"><!--start of the first row body-->
      <div class="col-md-12"><!--start of column 1-->
        <form method='POST' action=''>{% csrf_token %}
          <div class="card my-card shadow text-left p-3">
          <label>Description</label> {{form.description}} 
          <label>Quantity</label>{{form.quantity}}
          <label>Unit Price</label>{{form.unit_price}} 
          </div>
          <input type="submit" value='Save' class="btn btn-success btn-block">
        </form>
      </div><!--end of column 1-->
</div><!--end of first row body-->
{% else %}
<a  href="{% url 'logistics:allifpostedinvoices' %}" >
  <button id="allif-link-buttons" type="button" class="btn btn-success mybuttonlinks" >
  Posted Invoices</button></a>
{% endif %}
<!----------------------------------------------end of row----------------------------------------------------->
     
            </div>
        </div>
        

    <div class="col-md-8">
        <div class="card">
            <div id="allif-section-headers" class="card-header">
                
               
              Customer: {{add_inv.customer}}
              Inv#: 
              <a href="{% url 'allifmaalapp:add_allifmaal_invoice_details' add_inv.id %}" >
                
              {{add_inv.invoice_number}}
              </a>


            </div>
            <div class="col-md-12">
        <!--start of the table-->
            
            <table class="table">
            <thead>
            <tr>
            <th>No.</th>
            <th>Description</th>
            <th>Quantity</th>
            <th>Unit Price</th>
            <th>Amount</th>
            <th>Del.</th>
        
            </tr>
        </thead>
        <tbody>
    {% for item in inv_Items %}
    
        <tr>
        <td>
        {{forloop.counter}}
        
        </td>
       
  <td>
      {{item.description}}
     
  </td>
  
  <td> {{item.quantity}}</td>
 
  <td>{{item.unit_price|intcomma}}</td>
  <td>{{item.selling_price|intcomma}}</td>
  
  <td>
      <a href="{% url 'allifmaalapp:delete_allifmaal_invoice_item' item.id %}">
        <img src="{% static 'images/delete.png'%}" width="20">
      </a>
  </td>
  
        </tr>
        {% endfor %}

      <tr>
      <td></td>

      <td colspan="3"><h5>Grand Total</h5></td>
      <td><h5>${{invoiceTotal|intcomma}}</h5>
      
      </tr>
      
        </tbody>
        </table>
       
        <!--end of table-->
            </div>
        </div></div></div>
        <!-- end of first row-->
</div><!--end of main container of the page-->

   {% endblock %}

