<!DOCTYPE html>
<html>
<header>
    <title>
        First Allifmaal Website on Linode...
    </title>
</header>
<body>
<h1>
    This is the first Allifmaal Website deployed onto Linode Server!

</h1>
<p>
    The team is really excited on this achievement...
</p>
<p>we have made some changes....</p>
<hr>
<a href="{% url 'myfirstapp:about' %}">
    about
</a>
<form method='POST' action=''>{% csrf_token %}
    {{form}}
    <input type="submit" value='   Save    ' class="btn btn-success">
    </form>
    {% for name in names %}
    {{name.name}}
    {% endfor %}
    addded domain two
    <h1>
        my custom domain is working alx
    </h1>
</body>
</html>