{% load static %}
<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
  

    <title>{{user}}'s Profile</title>
</head>

<body>

    <!--Navbar-->
    <nav class="navbar navbar-expand-lg navbar-info bg-info">
        <div class="container">
            <a class="navbar-brand text-white" href="/">Website</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link text-white" href="">Blogs <span
                                class="sr-only">(current)</span></a>
                    </li>
                </ul>
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link text-white" href="">Admin Profile <span
                                class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="#">Logout</a>
                    </li>
                </ul>

            </div>
        </div>
    </nav>
    <!--End Navbar-->



    <!--Table-->
    <div class="container">
        <div class="row my-4">
            <div class="col-md-4">

            </div>
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header bg-info text-white">
                        {{user}}
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-8">
                                <span class="h4"> {{user}}'s Profile Information</span> <a class="btn btn-info btn-sm float-right"
                                    href="{% url 'login:edit-profile' %}">Edit profile</a>
                                <hr>
                                <table class="table bg-white table-borderless">
                                    <tbody>
                                        <tr>
                                            <th scope="row">Name</th>
                                            <td>{{user.first_name}} {{user.last_name}}</td>
                                        </tr>
                                        <tr>

                                           Bio: {{user.bloguserprofilemodel.blogUserBio}}<br>
                                           

                                            <th scope="row">Email</th>
                                            <td>{{user.bloguserprofilemodel.blogUserEmail}}</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Phone</th>
                                            <td>{{user.bloguserprofilemodel.blogUserPhone}}</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Address</th>
                                            <td>{{user.bloguserprofilemodel.blogUserPhyAddress}}</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Website</th>
                                            <td style="color:blue">{{user.bloguserprofilemodel.blogUserWebsiteUrl}}</td></a>
                                        </tr>
                                    </tbody>
                                </table>

                            </div>
                            <div class="col-md-4">
                                {% if user.bloguserprofilemodel.blogUserProfileImage %}
                                <img src=""
                                 width="150" height="150" class="rounded-circle">
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>



</body>

</html>
