<style>
  
    /* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}

    :root{
        --sidebar_font_size:1.0rem;/*this is global variable*/
    }
    
    .mysidenavclass {
        width: auto;
        position: fixed;
        z-index: 10;/*this property ensures that the content passes behind the fixed side bar when it is horizontal*/
      }
      
      .mysidenavclass a {
        padding: 8px 8px 8px 10px;
        text-decoration: none;
        font-size: 2rem;
        color: white;
        display: block;
        transition: 0.3s;
        background-color:  #714b67;/*#2a4dd9*/
        border: 1px solid #FFF;
        text-align: left;
        
        
        
      }
      
      .mysidenavclass a:hover {
      background-color: #F6F7F8;
      color: black;
    }
     
    #sidebutton{
        background-color: #F6F7F8;
        margin-left: 1px;
        border: 1px solid #FFF;
        float: left;
        box-shadow: 0 4px 8px 0 #F6F7F8, 0 6px 20px 0 #FFF;
        margin-top : 0px;
        border-radius: 1px;
        padding : auto;
        overflow: auto;
        
        text-overflow: ellipsis;
      }

    
/************************************************************* starting of styling for extra small mobiles*/
@media screen and (min-width:200px) and (max-width:800px) {
        
        .mysidenavclass a{
        display:inline-flexbox;
        font-size: var(--sidebar_font_size);
          float: left;
          margin-left: 1px;
          margin-top: 2px;
          text-align: left;
          overflow: auto;
          background-color: #714b67;
         
        }
       
      }
/*********************************************************** end of styling for extra small mobiles*/

  
 
/************************************************************* starting of styling for extra small mobiles*/
@media screen and (min-width:800px) and (max-width:1000px) {
        
        
        .mysidenavclass a{
            display:block;
            font-size: var(--sidebar_font_size);
          margin-top: 5px;
          text-align: left;
          background-color: #714b67;
          overflow: auto;

        }
        .mysidenavclass{
          overflow-y: auto;
          max-height: calc(100vh - 5rem);
          top: 65px;
          bottom: 0
        }
      }
/*********************************************************** end of styling for extra small mobiles*/

 
/************************************************************* starting of styling for extra small mobiles*/
@media screen and (min-width:1000px) and (max-width:2000px) {
        
        .mysidenavclass a{
            padding: 8px 8px 8px 10px;
        text-decoration: none;
        font-size: var(--sidebar_font_size);
        
        color: white;
        display: block;
        transition: 0.3s;
        background-color:  #714b67;/*#2a4dd9*/
        border: 1px solid #FFF;
        text-align: left;
        overflow: auto;
        margin-top: 3px;
        
        }
        .mysidenavclass{
          overflow-y: auto;
          max-height: calc(100vh - 5rem);
          top: 65px;
          bottom: 0
        }
        
       
      }
/*********************************************************** end of styling for extra small mobiles*/

/************************************************************* starting of styling for extra small mobiles*/
@media screen and (min-width:2000px)  {
        
        .mysidenavclass a{
            padding: 8px 8px 8px 10px;
        text-decoration: none;
        color: white;
        display: block;
        transition: 0.3s;
        background-color:  #714b67;/*#2a4dd9*/
        border: 1px solid #FFF;
        text-align: left;
        overflow: auto;
        margin-top: 2px;
        margin-right: 1px;
        
        }
        .mysidenavclass{
          overflow: scroll;
          height: auto;
        }
        
       
      }
/*********************************************************** end of styling for extra small mobiles*/
 
    
</style>
 <!--start of the side bar... now-->
 <div style="height:60px;"></div>
 <div class="mysidenavclass">
        
    <button id="sidebutton">
   
    <a  href="">Dashboard </a>
    
   
    <a href="">Invoices</a>
   
    <a href="{% url 'allifmaalapp:allifmaalcustomers' %}">Customers</a>
    <a href="">Expenses</a>
    <a href="">Tasks</a>
    
    
    </button>
    
  </div><!--end of the side bar-->

  